.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#images-source {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-source-item:hover {
  cursor: pointer;
}
.image-caption{
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: .2rem;
  /* background-color: grey; */
}
.link-for-image {
  /* position: absolute;
  top: 0px;
  left: 20px;
  color: white; */
}
.author-for-image {
  /* top: 50px;
  left: 20px;
  color: white;
  position: absolute; */
}
